p{
    color:rgb(44, 44, 44);
}

h2{
    color:#38761D;
    text-decoration: underline green;
    
}

h3{
    font-weight: bold;
}

a{
    color:rgb(11, 173, 248);
    text-decoration: none;
}

h1{
    padding-bottom: 50px;
    padding-top: 50px;
}

#titrerouge{
    color:red;
}

#titrerouge2{
    color:red;
}

body{
    font-family: "Noto Sans", system-ui, sans-serif;
    margin:auto;
    max-width:800px;
}