#bloc{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: url("../images/header-bg.jpg");
    padding:2%;
    background-position: center;
    align-items: center;


}

body{
    margin:auto;
    font-family: 'Montserrat';
}

#bloc2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items :center;
    padding-left : 1%;
    justify-content: center;
}

.bloc3 p{
    color:white;
    text-transform: uppercase;
    text-align: center;
    font-size: small;
    
}



.bloc3 img {
    width : 15%;
    display: block;
    margin:auto;
    align-items: end;
}

h1{
    text-align: center;
    margin-top:10%;
}

hr{
    margin-right: 47.5%;
    margin-left: 47.5%;
    text-align: center;
    border-color:rgb(97, 169, 198);
    border-width:1px;
}

p{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

h4{
    text-align: center;
    text-transform: uppercase;
    border : solid 1px rgb(225, 232, 244);
    background-color: rgb(229, 238, 255);
    margin-left: 42%;
    margin-right: 42%;
    padding:1%;
}

h4:hover{
    background-color: #5578B3;
    color:white;
    cursor: pointer;
}

#partenaires{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

footer p{
    font-size: small;
    color: white;
}

footer{
    background: linear-gradient(0.25turn,#283E89, #50A1CC);
    padding : 1%;
}

.bloc3 p:hover{
    cursor:pointer;
    border-top: solid 2px white;
    align-items: center;
}

#navigation{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-left : 15%;
    margin-right: 15%;
    margin-top:5%;
    margin-bottom: 5%;
}

#navigation .blog img {
    width: 80%;
}

#navigation .tags img {
    width: 80%;
}

.catégories h2{
    border:none;
    background-color: white;
    margin : auto;
    text-transform: none;
}

.blog h2{
    border:none;
    background-color: white;
    margin : auto;
    text-transform: none;
    
}

.tags h2{
    border:none;
    background-color: white;
    margin : auto;
    text-transform: none;
}

.catégories li{
    text-transform: uppercase;
    text-align: left;
    font-size: small;
}

.catégories ul {
    list-style-type: "✔ ";
}

#navigation h2 {
    text-align: left; 
     
   
}

#navigation hr {
    margin-right : 88%;
    border-color:rgb(97, 169, 198);
    border-width:1px;

}
#navigation h4{
    color: #9FC4F1;
    text-align: left;
    text-transform: none;
    border : none;
    background-color: white;
    margin:0;
    padding:0;
}

#navigation p {
    text-align: left;
    margin-left: 0;
}

.tags-box {
    display: flex;
    gap: 10px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.tags-box .tag{
    display: inline-block;
    background-color: #4A7EB2;
    color: white; 
    padding: 5px 10px; 
    font-size: 0.8rem; 
    border-radius: 3px; 
}


#navigation .read-more {
    display: inline-block;
    background-color: #E5EEFF;
    color: #496280; 
    padding: 12px 40px; 
    font-size: 0.9rem;
    text-decoration: none; 
    border-radius: 5px;
    text-align: center;
    border : 1px solid #D1D9E8;
    text-transform: uppercase;
}

.read-more:hover {
    background-color: #285B8C;
    cursor: pointer;
}

.blog #image1, #image2, #image3{
    margin-bottom:2%;
}

.tags .tag-item {
    display: inline-block; 
    background-color: #4A7EB2;
    color: white;  
    padding: 5px 10px; 
    font-size: 0.7rem; 
    border-radius: 3px; 
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px; 
    margin-bottom: 10px; 
    text-transform: uppercase;
}

.tags .tag-item:hover {
    background-color: #285B8C; 
    cursor: pointer;
}

.tags h5{
    text-transform: uppercase;
    font-weight: lighter;
}

.tags p {
    font-size: 0.8em;
}