body {
    font: 1.2rem "Fira Sans", sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: serif;
    font-family: serif;
    font-family: serif;
}

a{
    color:grey;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
